---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 120

AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
FixNamespaceComments: false

NamespaceIndentation: All
NamespaceMacros:
  - TEST_CLASS
TypenameMacros:
  - TEST_METHOD
...
